<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@savvycube.com so we can send you a copy immediately.
 *
 * @category   SavvyCube
 * @package    SavvyCube_Connector
 * @copyright  Copyright (c) 2017 SavvyCube
 * SavvyCube is a trademark of Webtex Solutions, LLC
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <w_cube module="wCube" translate="label">
            <label>SavvyCube Connector</label>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <tab>service</tab>
            <groups>
                <settings translate="label">
                    <label>General Settings</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <expanded>1</expanded>
                    <fields>
                        <version>
                            <label>SavvyCube Connector version:</label>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <frontend_model>wCube/config_version</frontend_model>
                            <frontend_type>label</frontend_type>
                        </version>
                        <activation>
                            <label>Connect or reconnect the store:</label>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <frontend_model>wCube/config_activate</frontend_model>
                            <frontend_type>button</frontend_type>
                        </activation>
                        <savvy_url>
                            <label>SavvyCube URL:</label>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <frontend_type>link</frontend_type>
                        </savvy_url>
                        <base_url>
                            <label>Store URL (must be visible online):</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <backend_model>wCube/baseurl</backend_model>
                        </base_url>
                    </fields>
                </settings>
            </groups>
        </w_cube>
    </sections>
</config>
